.a_bg {
    display: flex;
    flex-direction: column;
}

.a_box_container {
    display: flex;
    flex-direction: row;
}

.a_box{
    display: flex;
    background-image: url("../../assets/backg.png");
    padding: 2rem;
    flex-direction: column;
    margin: 3rem 1.5rem;
    border-radius: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.a_box-text {
    font-family: var(--font-family);
    display: flex;
    flex-wrap: wrap;
}

.a_box-text h2 {
    font-size: 40px;
    font-weight: bold;
    background: var(--gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.a_box-text p {
    margin-top: 1rem;
    font-size: normal;
}

.a_box-text .gaia {
    color: forestgreen;
    font-weight: 550;
}

.a_box-text .terra {
    color: #CC4E5C;
}

.a_cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 2rem 2rem 2rem;
    border-radius: 1rem;
    background-color: #CC4E5C;
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.a_cta_text h4 {
    color: white;
    font-size: 32px;
    text-shadow: 2px 5px 8px rgba(0, 0, 0, 0.37);;
    font-weight: bold;
    font-family: var(--font-family);
}

.a_cta_button {
    display: flex;
    gap: 2rem;
    margin-left: 2rem;
}

.a_cta_button a {
    border: none;
    font-family: var(--font-family);
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}

.a_cta_button img {
    max-width: 3rem;
    margin-right: 1rem;
}

/* Mobile */
@media (max-width: 640px) {
    .a_box_container {
      flex-direction: column;
    }
    
    .a_box {
      margin: 1rem;
      padding: 1rem;
      border-radius: 1rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }
    
    .a_box-text h2 {
      font-size: 32px;
    }
    
    .a_cta {
      margin: 1rem;
    }
    
    .a_cta_text h4 {
      font-size: 24px;
    }
    
    .a_cta_button {
      margin-left: 1rem;
      flex-direction: column;
      margin-right: 1rem;
    }
    
    .a_cta_button a {
      font-size: 14px;
      padding: 1.2rem;
      border-radius: 0.5rem;
    }
    
    .a_cta_button img {
      max-width: 2rem;
      margin-right: 0.5rem;
    }
}

/* tablet */
@media (min-width: 641px) and (max-width: 1024px) {
    .a_box_container {
      flex-direction: column;
      align-items: center;
    }
  
    .a_box {
      width: 90%;
      margin: 3rem 0;
    }
  
    .a_cta {
      margin: 2rem;
    }
  
    .a_cta_text h4 {
      font-size: 28px;
    }
  
    .a_cta_button {
      margin-left: 0;
      margin-top: 1rem;
    }

    .a_cta_button a {
        padding: 2rem;
    }
}